$primary-color: navy;
$secondary-color: darkgreen;
$tertiary-color: lightgray;

#root {
  margin: 10px 10%;
  min-width: 800px;
  width: 80%;
}

.App {
  border-right: 1px solid $tertiary-color;
  border-left: 1px solid $tertiary-color;
  border: 0px 1px solid $tertiary-color;
  padding: 0 20px;
}

#disclaimer {
  border-bottom: 1px solid $tertiary-color;
  padding-bottom: 5px;
}

#disclaimer-text {
  color: $primary-color;
  font-size: .75em;

  span {
    font-weight: bold;
    padding-right: 10px;
  }
}

#instructions {
  span {
    font-weight: bold;
    padding-right: 1em;
  }
}

#addForm {
  margin-top: 20px;
}